
    <section class="login-container">
        <div class="media-content ">
            <!-- Add your image, GIF, or video here -->
            <img src="userassets/Page-hero/login.jpg" alt="Background" class="media-image ">
          
        </div>
        <div class="form-content">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Sign in</h4>

                    <% if (successMessage) { %>
                        <div class="alert alert-success">
                            <%= successMessage %>
                        </div>
                    <% } %>
                    <% if (errorMessage) { %>
                        <div class="alert alert-danger">
                            <%= errorMessage %>
                        </div>
                    <% } %>

                    <form method="post" id="formData" action="/login">
                        <div class="mb-3">
                            <input class="form-control" id="email" name="email" placeholder="Email" type="text">
                            <span id="emailError" class="error" style="color: red;"></span>
                        </div>

                        <div class="mb-3">
                            <input class="form-control" id="password" name="password" placeholder="Password" type="password">
                            <span id="passwordError" class="error" style="color: red;"></span>
                        </div>

                        <div class="mb-3">
                            
                            <a href="/forgot-password" class="float-end font-sm text-muted">Forgot password?</a>
                        </div>

                        <div class="mb-4">
                            <button type="submit" name="login" class="btn btn-primary w-100">Login</button>
                        </div>
                    </form>
                    <p class="text-center small text-muted mb-15">or sign up with</p>
                    <div class="d-grid gap-3 mb-4">
                        <a href="/auth/google" class="btn btn-google w-100 d-flex align-items-center justify-content-center">
                            <i class="fab fa-google"></i> Google
                        </a>
                    </div>
                
                    <p class="text-center mb-4">Don't have an account? <a href="/register">Sign up</a></p>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            Swal.fire({
                title: 'Welcome',
                text: 'login first..!',
                icon: 'info',
                position: 'top-end',
                toast: true,
                timer: 5000,
                showConfirmButton: false
            });
    
            const urlParams = new URLSearchParams(window.location.search);
            const successMessage = urlParams.get('success');
            const errorMessage = urlParams.get('error');
    
            if (successMessage) {
                Swal.fire({
                    title: 'Success!',
                    text: successMessage,
                    icon: 'success',
                    position: 'top-end',
                    toast: true,
                    timer: 5000,
                    showConfirmButton: false
                });
            }
    
            if (errorMessage) {
                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    icon: 'error',
                    position: 'top-end',
                    toast: true,
                    timer: 5000,
                    showConfirmButton: false
                });
            }
    
            // Email validation
            const emailInput = document.getElementById('email');
            const passwordInput = document.getElementById('password');
            const emailError = document.getElementById('emailError');
            const passwordError = document.getElementById('passwordError');
    
            const validateEmail = () => {
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (emailInput.value.trim() === '') {
                    emailError.textContent = '* Email is required';
                    return false;
                } else if (!emailRegex.test(emailInput.value.trim())) {
                    emailError.textContent = '* Enter a valid email';
                    return false;
                } else {
                    emailError.textContent = '';
                    return true;
                }
            };
    
            emailInput.addEventListener('input', validateEmail);
    
            // Password validation
            const validatePassword = () => {
                if (passwordInput.value.trim() === '') {
                    passwordError.textContent = '* Password is required';
                    return false;
                } else if (passwordInput.value.trim().length < 4) {
                    passwordError.textContent = '* Password should be at least 4 characters';
                    return false;
                } else {
                    passwordError.textContent = '';
                    return true;
                }
            };
    
            passwordInput.addEventListener('input', validatePassword);
    
            const form = document.getElementById('formData');
    
            form.addEventListener('submit', (event) => {
                if (!validateEmail() || !validatePassword()) {
                    event.preventDefault();
                }
            });
        });
    </script>