<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories </h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">

                  <% if (successMessage) { %>
                    <div class="alert alert-success">
                        <%= successMessage %>
                    </div>
                    <% } %>

                        <% if (errorMessage) { %>
                            <div class="alert alert-danger">
                                <%= errorMessage.msg %>
                            </div>
                            <% } %>


                    <form action="/admin/createCategory" method="post">
                        <div class="mb-4">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" placeholder="Enter category name" name="name" class="form-control" id="name" >
                            <span id="nameError" class="error" style="color: red;"></span>
                        </div>
                        <div class="mb-4">
                            <label for="description" class="form-label">Description</label>
                            <textarea placeholder="Enter category description" name="description" class="form-control" id="description" rows="3"></textarea>
                            <span id="descriptionError" class="error" style="color: red;"></span>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Create category</button>
                        </div>
                    </form>
                </div>
        </div> <!-- cady .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->
<script>


    document.addEventListener("DOMContentLoaded", () => {
     
      const nameInput = document.getElementById('name');
      const descriptionInput = document.getElementById('description');
     
      const nameError = document.getElementById('nameError');
      const descriptionError = document.getElementById('descriptionError');
  
     
  
      const validatename = () => {
        if (nameInput.value.trim() === '') {
          nameError.textContent = '* Category name required';
          return false;
        } else {
          nameError.textContent = '';
          return true;
        }
      }
  
  
  
      const validatedescription = () => {
        if (Input.value.trim() === '') {
          descriptionError.textContent = '* Description is  required';
          return false;
        } else {
          descriptionError.textContent = '';
          return true;
        }
      }
  
      
  
      nameInput.addEventListener('input', validatename);
      descriptionInput.addEventListener('input', validatedescription);
  
      const form = document.getElementById('formData');
  
      form.addEventListener('submit', (event) => {
        if ( !validatename() ||  !validatedescription() ) {
          event.preventDefault();
        }
      });
    });
  </script>