<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories </h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form action="/admin/createCategory" method="post">
                        <div class="mb-4">
                            <label for="category_name" class="form-label">Name</label>
                            <input type="text" placeholder="Enter category name" name="name" class="form-control" id="category_name" required>
                        </div>
                        <div class="mb-4">
                            <label for="category_description" class="form-label">Description</label>
                            <textarea placeholder="Enter category description" name="description" class="form-control" id="category_description" rows="3"></textarea>
                        </div>
                        <div class="mb-4 form-check">
                            <input type="checkbox" class="form-check-input" name="deleted" id="is_deleted">
                            <label class="form-check-label" for="is_deleted">Is Deleted</label>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Create category</button>
                        </div>
                    </form>
                </div>
        </div> <!-- cady .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->
<script>


    document.addEventListener("DOMContentLoaded", () => {
     
      const nameInput = document.getElementById('name');
      const descriptionInput = document.getElementById('description');
     
      const nameError = document.getElementById('nameError');
      const descriptionError = document.getElementById('descriptionError');
  
     
  
      const validatename = () => {
        if (nameInput.value.trim() === '') {
          nameError.textContent = '* Last name required';
          return false;
        } else {
          nameError.textContent = '';
          return true;
        }
      }
  
  
  
      const validatedescription = () => {
        if (Input.value.trim() === '') {
          Error.textContent = '* Description is  required';
          return false;
        } else {
          Error.textContent = '';
          return true;
        }
      }
  
      
  
      nameInput.addEventListener('input', validatename);
      descriptionInput.addEventListener('input', validatedescription);
  
      const form = document.getElementById('formData');
  
      form.addEventListener('submit', (event) => {
        if ( !validatename() ||  !validatedescription() ) {
          event.preventDefault();
        }
      });
    });
  </script>