<footer class="main-footer text-center">
    <p class="font-xs">
        <script>
        document.write(new Date().getFullYear())
        </script> ©, Samaya  
    </p>
    <p class="font-xs mb-30">All rights reserved</p>
</footer>
</main>
<script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
<!-- Main Script -->
<script src="assets/js/main.js" type="text/javascript"></script>
</body>

</html>